ago==0.0.95 ; python_version >= "3.9" and python_version < "4.0"
anyio==3.7.1 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.9" and python_full_version <= "3.11.2"
attrs==23.1.0 ; python_version >= "3.9" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.9" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
bidict==0.22.1 ; python_version >= "3.9" and python_version < "4.0"
boto3==1.28.3 ; python_version >= "3.9" and python_version < "4.0"
botocore==1.31.3 ; python_version >= "3.9" and python_version < "4.0"
bs4==0.0.1 ; python_version >= "3.9" and python_version < "4.0"
cchardet==2.1.7 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "4.0"
chardet==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.5 ; python_version >= "3.9" and python_version < "4.0"
cloudpickle==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
constantly==15.1.0 ; python_version >= "3.9" and python_version < "4.0"
cryptography==41.0.2 ; python_version >= "3.9" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
dotmap==1.3.30 ; python_version >= "3.9" and python_version < "4.0"
elastic-transport==8.4.0 ; python_version >= "3.9" and python_version < "4"
elasticsearch==8.8.2 ; python_version >= "3.9" and python_version < "4"
exceptiongroup==1.1.2 ; python_version >= "3.9" and python_version < "3.11"
fastapi==0.96.1 ; python_version >= "3.9" and python_version < "4.0"
feedfinder2==0.0.4 ; python_version >= "3.9" and python_version < "4.0"
feedparser==6.0.10 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.12.2 ; python_version >= "3.9" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.9" and platform_machine == "aarch64" and python_version < "4.0" or python_version >= "3.9" and platform_machine == "ppc64le" and python_version < "4.0" or python_version >= "3.9" and platform_machine == "x86_64" and python_version < "4.0" or python_version >= "3.9" and platform_machine == "amd64" and python_version < "4.0" or python_version >= "3.9" and platform_machine == "AMD64" and python_version < "4.0" or python_version >= "3.9" and platform_machine == "win32" and python_version < "4.0" or python_version >= "3.9" and platform_machine == "WIN32" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.9" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
hjson==3.1.0 ; python_version >= "3.9" and python_version < "4.0"
httpcore==0.16.3 ; python_version >= "3.9" and python_version < "4.0"
httpx==0.23.3 ; python_version >= "3.9" and python_version < "4.0"
hurry-filesize==0.9 ; python_version >= "3.9" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.4 ; python_version >= "3.9" and python_version < "4.0"
incremental==22.10.0 ; python_version >= "3.9" and python_version < "4.0"
itemadapter==0.8.0 ; python_version >= "3.9" and python_version < "4.0"
itemloaders==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
jieba3k==0.35.1 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
joblib==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
langdetect==1.0.9 ; python_version >= "3.9" and python_version < "4.0"
lxml==4.9.3 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
news-aggregator-data-access-layer @ git+ssh://git@github.com/TheDailyBite/news-aggregator-data-access-layer.git@main ; python_version >= "3.9" and python_version < "4.0"
news-please==1.5.33 ; python_version >= "3.9" and python_version < "4.0"
newspaper3k==0.2.8 ; python_version >= "3.9" and python_version < "4.0"
nltk==3.8.1 ; python_version >= "3.9" and python_version < "4.0"
packaging==23.0 ; python_version >= "3.9" and python_version < "4.0"
parsel==1.8.1 ; python_version >= "3.9" and python_version < "4.0"
pillow==10.0.0 ; python_version >= "3.9" and python_version < "4.0"
plac==1.3.5 ; python_version >= "3.9" and python_version < "4.0"
plotly==5.15.0 ; python_version >= "3.9" and python_version < "4.0"
protego==0.2.1 ; python_version >= "3.9" and python_version < "4.0"
psutil==5.9.5 ; python_version >= "3.9" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.9" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4.0"
pydantic==1.10.11 ; python_version >= "3.9" and python_version < "4.0"
pydispatcher==2.0.7 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.9" and python_version < "4.0"
pymysql==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
pynamodb-attributes==0.4.0 ; python_version >= "3.9" and python_version < "4.0"
pynamodb==5.5.0 ; python_version >= "3.9" and python_version < "4.0"
pyopenssl==23.2.0 ; python_version >= "3.9" and python_version < "4.0"
pypydispatcher==2.1.2 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation == "PyPy"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==0.13.0 ; python_version >= "3.9" and python_version < "4.0"
python-engineio==4.5.1 ; python_version >= "3.9" and python_version < "4.0"
python-multipart==0.0.5 ; python_version >= "3.9" and python_version < "4.0"
python-socketio==5.8.0 ; python_version >= "3.9" and python_version < "4.0"
pywin32==306 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "4.0"
queuelib==1.6.2 ; python_version >= "3.9" and python_version < "4.0"
readability-lxml==0.8.1 ; python_version >= "3.9" and python_version < "4.0"
redis==4.6.0 ; python_version >= "3.9" and python_version < "4.0"
reflex==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
regex==2023.6.3 ; python_version >= "3.9" and python_version < "4.0"
requests-file==1.5.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
rfc3986[idna2008]==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
rich==13.4.2 ; python_version >= "3.9" and python_version < "4.0"
s3transfer==0.6.1 ; python_version >= "3.9" and python_version < "4.0"
scrapy==2.9.0 ; python_version >= "3.9" and python_version < "4.0"
service-identity==23.1.0 ; python_version >= "3.9" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.9" and python_version < "4.0"
sgmllib3k==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
soupsieve==2.4.1 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy2-stubs==0.0.2a35 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy==1.4.41 ; python_version >= "3.9" and python_version < "4.0"
sqlmodel==0.0.8 ; python_version >= "3.9" and python_version < "4.0"
starlette-admin==0.9.0 ; python_version >= "3.9" and python_version < "4.0"
starlette==0.27.0 ; python_version >= "3.9" and python_version < "4.0"
tenacity==8.2.2 ; python_version >= "3.9" and python_version < "4.0"
tinysegmenter==0.3 ; python_version >= "3.9" and python_version < "4.0"
tldextract==3.4.4 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.65.0 ; python_version >= "3.9" and python_version < "4.0"
twisted-iocpsupport==1.0.3 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
twisted==22.10.0 ; python_version >= "3.9" and python_version < "4.0"
typer==0.4.2 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.16 ; python_version >= "3.9" and python_version < "4.0"
uvicorn==0.20.0 ; python_version >= "3.9" and python_version < "4.0"
w3lib==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
warcio==1.7.4 ; python_version >= "3.9" and python_version < "4.0"
watchdog==2.3.1 ; python_version >= "3.9" and python_version < "4.0"
watchfiles==0.19.0 ; python_version >= "3.9" and python_version < "4.0"
websockets==10.4 ; python_version >= "3.9" and python_version < "4.0"
zope-interface==6.0 ; python_version >= "3.9" and python_version < "4.0"
